<app-entete [valeur]="'Password generator'"></app-entete>
<main>
    <div class="center">
        <section>
            <mat-form-field id="generated-password">
                <mat-label>Mot de passe généré</mat-label>
                <input matInput type="text" [(ngModel)]="motDePasse">
            </mat-form-field>
            <button mat-icon-button title="Copier dans le presse-papier" id="copy-btn" (click)="copytToClipboard()">
                <mat-icon>content_copy</mat-icon>
            </button>
        </section>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Options</mat-panel-title>
                </mat-expansion-panel-header>
                <h3>Contraintes du mot de passe</h3>
                <form [formGroup]="formulaire" (submit)="generatePassword()">
                    <mat-form-field id="longueur">
                        <mat-label>Longueur</mat-label>
                        <input matInput type="number" formControlName="longueur" min="8" max="99">
                        @if (formulaire.get('longueur')?.hasError('min') || formulaire.get('longueur')?.hasError('max')) {
                            <mat-error>La valeur doit être comprise entre 8 et 99.</mat-error>
                        }
                    </mat-form-field>
                    <mat-checkbox formControlName="numerique">Chiffres (ex : 2, 6, 7...)</mat-checkbox>
                    <mat-checkbox formControlName="lettresMin">Minuscules (ex : a, r, y...)</mat-checkbox>
                    <mat-checkbox formControlName="lettresMaj">Majuscules (ex : Q, F, H...)</mat-checkbox>
                    <mat-form-field>
                        <mat-label>Liste des symboles</mat-label>
                        <input matInput type="text" formControlName="symboles">
                    </mat-form-field>
                    <button mat-flat-button [disabled]="formulaire.invalid">Générer le mot de passe</button>
                </form>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</main>