main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    --background: var(--mat-sys-surface-container-low);
}

.center {
    box-sizing: border-box;
    width: calc(100% - 1rem);
    max-width: 500px;
    padding: 1rem;
    background-color: var(--background);
    border-radius: 0.5rem;
}

.center section {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 0.5rem;
}

#generated-password {
    flex-grow: 1;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#longueur {
    width: 100px;
}

#longueur mat-error {
    width: max-content;
}

#longueur input {
    text-align: right;
}