main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    /* Liste des couleurs */
    --color-beige: #F0ECD3;
    --color-dark-beige: #C7BD9F;
    --color-dark-beige-hover: #AFA68C;
    --color-darker-red: #37251B;
    --color-dark-red: #59352B;
    --color-white: #FFFFFF;
    --color-green: #6f9f91;
    --color-green-hover: #628B7E;
    --color-orange: #DDA045;
    --color-orange-hover: #C28D3D;
}

.calculatrice {
    background-color: var(--color-beige);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    max-width: 320px;
}

.ecran {
    background-color: var(--color-darker-red);
    border: 1rem inset #D3CFB9;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    color: var(--color-white);
    text-align: right;
    font-size: 3rem;
    vertical-align: bottom;
}

.clavier {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
    margin-top: 1rem;
}

.clavier button {
    width: 22%;
    height: 48px;
    border: none;
    border-radius: 1em;
    font-size: larger;
    cursor: pointer;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .14),
                0 2px 2px 0 rgba(0, 0, 0, .12),
                0 1px 3px 0 rgba(0, 0, 0, .2);
}

.clavier button:active {
    box-shadow: none;
}

.btn-fonction {
    color: var(--color-white);
    background: linear-gradient(145deg, #77a99a, #648e82);
}

.btn-fonction:hover {
    background: var(--color-green-hover);
}

.btn-fonction:active {
    background: linear-gradient(145deg, #648e82, #77a99a);
}

.btn-chiffre {
    color: var(--color-dark-red);
    background: linear-gradient(145deg, #d5caaa, #b3aa8f);
}

.btn-chiffre:hover {
    background: var(--color-dark-beige-hover);
}

.btn-chiffre:active {
    background-color: var(--color-dark-beige-click);
    background: linear-gradient(145deg, #b3aa8f, #d5caaa);
}

.btn-egal {
    color: var(--color-dark-red);
    background: linear-gradient(145deg, #ecab4a, #c7903e);
}

.btn-egal:hover {
    background: var(--color-orange-hover);
}

.btn-egal:active {
    background: linear-gradient(145deg, #c7903e, #ecab4a);
}