<mat-toolbar>
    <span>Bac à sable</span>
</mat-toolbar>
<nav>
    <ul>
        @for (projet of listeProjets; track projet) {
            <li>
                <a [routerLink]="projet.route">
                    <mat-card appearance="outlined">
                         <div mat-card-image [ngStyle]="{'background-color' : projet.couleur, 'background-image' : projet.pattern }"></div>
                        <mat-card-header>
                            <mat-card-title>{{ projet.titre }}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                        </mat-card-content>
                    </mat-card>
                  </a>
            </li>
        }
    </ul>
</nav>