ul {
    list-style: none;
    margin: 1rem;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

li {
    max-width: 200px;
}

a {
    text-decoration: none;
    color: inherit;
}

div[mat-card-image] {
    height: 100px;
    aspect-ratio: 16 / 9;
    background-repeat: repeat;
    background-size: 30%;
}